

<div class="grid-container">
    <p class="grid-item has-text-centered">Name</p>
    <p class="grid-item has-text-centered">Email</p>
    <a href="../detail" class="grid-item">Eri Kilanowski</a>
    <p class="grid-item">asd@gmail.com</p>
    <p class="grid-item">Paul Kilanowski</p>
    <p class="grid-item">koekfhokeg@gmail.com</p>
</div>




@code {

}
