.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 0.2fr;
    
}
.grid-item {
    width: 100%;
    
}
.grid-item2 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-style: solid;
    background-color: darkgrey;
    
}