
<div class="container is-inline-block">
    <div class="image" style="width: 470px; height: 250px;">
        <img src="./stayingconnectedBlog.jpg">
    </div>

    <div class="has-text-centered">
        <p>Stay Connected.</p> 
        <p>Select a contact to see their info.</p>
    </div>
</div>



@code {

}
